@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #111812;
  --primary: #2d4a3e;
  --accent: #d4af37;
  --glass: rgba(0, 0, 0, 0.05);
}

.dark {
  --background: #111812;
  --foreground: #ededed;
  --primary: #2d4a3e;
  --accent: #d4af37;
  --glass: rgba(255, 255, 255, 0.05);
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-accent: var(--accent);
  --color-primary: var(--primary);
  --color-glass: var(--glass);
  --font-abril: var(--font-abril);
  --font-antonio: var(--font-antonio);
  --font-anta: var(--font-anta);
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-antonio), sans-serif;
}
